// import fonts
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');

@font-face {
  font-family: 'Catamaran';
  src: url('../fonts/Catamaran-Black.ttf');
}

@font-face {
  font-family: 'Berlin';
  src: url('../fonts/berlin.ttf');
}

// variables
$header-font: 'Berlin', sans-serif;
$accent-color: #ea178c;
$white: #fff;
$black: #000;
$light-gray: #f4f4f4;

// general styles
body, .row {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: $header-font;
  color: $black;
}

a, a:hover, a:visited {
  text-decoration: none;
}

// import other files
@import 'nav';
@import 'hero';
